.popupEditContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 244px);
    list-style: none;
    gap: 8px;
    justify-content: center;
}

.popupEditText {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    gap: 12px;

}