@use '../../../styles/variables' as *;

.item {
  @include rubik16;
  cursor: pointer;
  color: $colorBlack;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  width: 220px;
  padding-right: 8px;
  gap: 4px;
  border-radius: 12px;
  background: $colorWhite;
  transition: all ease 0.3s;

  &:hover {
    opacity: 0.9;
    background: $colorButtonSidebarEnable;
  }
}

.icon {
  margin: 10px 10px;
  fill: $colorBlack;
}

.text {
  text-align: start;
  margin: 0;
  padding: 0;
}
