@use '../../utils/variables.scss' as *;

.profileContainer {
  display: flex;
  justify-content: center;
  width: 900px;
  box-sizing: border-box;
  background-color: $colorWhite;
}

.profileContant {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 820px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.header {
  margin: 0;
  padding: 0;
  width: 635px;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 41.6px */
}

.positionProfile {
  color: var(--text-main, #2F302E);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.userRoleContainer {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  color: var(--text-additional, #7D7E7C);
}

.roleContainer {
  display: flex;
  align-items: center;
}

.imageHeader {
  background-image: url(../../images/ui/Admin.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.infoContant {
  display: flex;
  justify-content: space-between;
}

.pictureContainer {
  border-radius: 50%;
}

.profilePicture {}

.uploadPhoto {}

.mainInfoContainer {
  display: grid;
  grid-template-areas: 
  "title edit"
  ;
}

.infoTitle {
  grid-area: "title";
}

.infoEdit {
  background-image: url(../../images/ui/IconEdit.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  background-size: 17px;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  background-color: $colorWhite;
  grid-area: "edit";
}

.label {}

.inputText {}

.inputList {}