@use '../../styles/variables' as *;

.navButton {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  padding: 20px 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: $colorWhite;
  height: calc(100vh - 72px);
  border: 1px solid $colorGrayLite;
}

.section {
  display: flex;
  flex-direction: row;
}

.container {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content {
  color: $colorBlack;
  width: 900px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 300px;
  background-color: white;
  border-radius: 0 0 24px 24px;
}

.title {
  @include exo32;
  color: $colorBlack;
}

.subtitle {
  @include exo24;
}



.infoEditButton {
  background-image: url(../../images/ui/IconEdit.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  background-size: 17px;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  background-color: $colorWhite;
  grid-area: 'edit';
  cursor: pointer;
}

.headerLesson {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    width: 100%;
    justify-content: space-between;
}
