@use '../../../styles/variables' as *;

.button {
  @include rubik16;
  display: flex;
  width: 260px;
  height: 52px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

.primary {
  background: $colorButtonDefault;
  border: $colorButtonDefault;
  color: $colorWhite;
}

.primary:hover {
  background: $colorButtonHover;
  border-color: $colorButtonHover;
}

.primary:active {
  background: $colorButtonPress;
  border-color: $colorButtonPress;
}

.primary:disabled {
  background: $colorGrayLite;
  color: $colorGray;
  border-color: $colorGrayLite;
}

.emptyBorder {
  border-radius: 12px;
  border: 2px solid $colorButtonDefault;
  background: $colorWhite;
  color: $colorButtonDefault;
}

.emptyBorder:hover {
  border-color: $colorButtonHover;
  color: $colorButtonHover;
}

.emptyBorder:active {
  color: $colorButtonPress;
  border-color: $colorButtonPress;
}

.emptyBorder:disabled {
  color: $colorGray;
  border-color: $colorGrayLite;
}

.empty {
  border: none;
  color: $colorButtonDefault;
  background-color: transparent;
}

.empty:hover {
  // border-color: var(--button-hovered, #668447);
  color: $colorButtonHover;
}

.empty:active {
  color: $colorButtonPress;
  // border-color: var(--button-pressed, #374629);
}

.empty:disabled {
  color: $colorGray;
  // border-color: var(--stroke-button, #d1d3ce);
}

.white {
  background-image: url('../../../images/ui/Icon.svg');
  background-size: cover;
  width: 13px;
  height: 13px;
}

.green {
  background-image: url('../../../images/ui/Icon-green.svg');
  width: 13px;
  height: 13px;
  opacity: 0.8;
  margin-right: 8px;
  background-position: center;
}

.back {
  background-image: url('../../../images/ui/Back-Icon.svg');
  width: 24px;
  height: 24px;
  padding: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.green:hover {
  opacity: 0.7;
}

.green:active {
  opacity: 1;
}

// .green:disabled {

// }
