@use '../../styles/variables' as variables;

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto 60px;
}

.subtitle {
  @include variables.rubik16;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

