.inputContainer {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px solid var(--stroke-button, #D1D3CE);
    background: var(--BG-white, #FFF);
}

.input {
    width: 9px;
    height: 20px;
    border: none;
}

.input:focus {
    outline: none;
}
