@use '../../../styles/variables' as *;

.inputContainer {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid $colorGrayLite;
  background: $colorWhite;
}

.input {
  @include rubik16;
  width: 9px;
  height: 20px;
  border: none;
  line-height: 24px;
}

.input:focus {
  outline: none;
}
