@use '../../../styles/variables' as *;

.table {
    // border-bottom: 1px solid var(--stroke-button, #D1D3CE);
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px 12px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid $colorGrayLite;
}

.title {
  @include rubik16;
    background: $backGroundTableName;
    color: $colorGray;

    th:first-child {
        border-top-left-radius: 12px;
    }

    th:last-child {
        border-top-right-radius: 12px;
        border-right: none;
    }
}

.tableContant {
  @include rubik16;
  color: $colorBlack;
    background: $colorWhite;
}

.tableCell {
    width: 40px;
    height: 40px;
}

.tableDropdownMenuButton {
    right: 100px;
    bottom: -20px;
}

.iconCell {
    border: none;
    background: none;
  }
