.container {
  margin: auto;
  height: 120px;
  width: 120px;
  border-radius: 16px;
  background-color: rgba(44, 46, 44, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  height: 60px;
  width: 60px;
}

.progressBarProgress {
  fill: none;
  stroke: rgba(231, 255, 207, 1);
  stroke-dasharray: 100 100;
  stroke-linecap: round;
  stroke-width: 1.15;
  transition: stroke-dashoffset 1s ease-in-out;
}