@use '../../../styles/variables' as *;
.input {
}

.checkbox {
  margin: 0 10px 0 10px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 1px solid #2f302e;
  display: none;
}

.customCheckbox {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #2f302e;
  width: 18px;
  height: 18px;
  position: relative;
  // transition: 0.2s ease-in;
}

.checkbox:checked + .customCheckbox {
  transform: translate(0%, 0%) scale(1);
  background-image: url('../../../images/ui/checkbox.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 0;
}

.label {
  @include rubik16;
  cursor: pointer;
  color: var(--Text-Main, #2f302e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  display: flex;
  margin: 20px 0;
  padding: 10px 0 10px 0;
  min-height: 52px;
  align-items: center;
  justify-content: space-between;
  width: 153px;
}

.label:hover {
  color: #53772f;
  opacity: 0.9;
}
