@use '../../../styles/variables' as *;

.button {
  @include rubik16;
  display: flex;
  width: 220px;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  border-radius: 12px;
  background: $colorWhite;
  border: none;
  flex: 1 0 0;
  cursor: pointer;
}

.button:hover {
  background: $colorButtonSidebarHover;
}

.button:active {
  background: $colorButtonSidebarEnable;
}

.menu {
  position: relative;
  display: none;
  max-width: 236px;
  width: 100%;
  // height: 160px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 8px;
  background: $colorWhite;
  box-shadow: 0 1px 3px 1px rgba(47, 48, 46, 0.12),
    0 1px 2px 0 rgba(47, 48, 46, 0.08);
}

.active {
  z-index: 999;
  display: flex;
  position: relative;
  max-width: 236px;
  width: 100%;
  // height: 160px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 8px;
  background: $colorWhite;
  box-shadow: 0 1px 3px 1px rgba(47, 48, 46, 0.12),
    0 1px 2px 0 rgba(47, 48, 46, 0.08);
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.item {
  @include rubik16;
  cursor: pointer;
  color: $colorBlack;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  width: 220px;
  padding-right: 8px;
  gap: 4px;
  border-radius: 12px;
  background: $colorWhite;
  transition: all ease 0.3s;
}

.icon {
  // margin: 12px 20px 12px 20px;
  margin-top: 12px;
  fill: $colorBlack;
}

.tableDropdownMenuButton {
  right: 150px;
  bottom: -22px;
}

