.button {
    max-width: 260px;
    width: 100%;
    min-height: 52px;
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    background-color: #fff;

    color: var(--Main, #53772F);
    text-align: center;

    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    color: var(--button-hovered, #668447);
}

.button:active {
    color: var(--button-pressed, #374629);
}

.button:disabled {
    color: var(--text-additional, #7D7E7C);
}

.icon {
    margin-right: 8px;
    fill: var(--Main, #53772F);
}

.icon:hover {
    fill: var(--button-hovered, #668447);
}

.icon:active {
    fill: var(--button-pressed, #374629);
}

.icon:disabled {
    fill: var(--text-additional, #7D7E7C);
}
