@use '../../utils/_variables' as variables;

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: variables.rem(12) variables.rem(20) variables.rem(8);
  border-bottom: variables.rem(4) solid variables.$colorButtonDefault;

  background-color: variables.$colorBlack
}

.button {
  @mixin button {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
  }

  @include button;
  padding: variables.rem(10);
  width: variables.rem(48);
  height: variables.rem(48);
  border-radius: 50%;
  background-color: #ffffff33;

  &_fioUser {
    @include button;
    display: flex;
    box-sizing: border-box;
    column-gap: variables.rem(12);
    align-items: center;
    padding: variables.rem(8) variables.rem(8) variables.rem(8) 0;
    color: variables.$colorWhite;
    background-color: transparent;

    &:hover {
      opacity: 0.6;
    }
  }
}

.headerImage {
  display: block;
}
