//*Цвета кнопок
$colorButtonDefault: #53772f;
$colorButtonPress: #374629;
$colorButtonHover: #668447;

$colorButtonSidebarEnabl: #e7ffcf;
$colorButtonSidebarPress: #bacda8;
$colorButtonSidebarHover: #f4ffe9;

// фон
$backGroundColor: #e9e9e9;

// цвета текстов и фонов
$colorWhite: #fff;

//*цвета шрифтов
//цвет основного шрифта
$colorBlack: #2f302e;

//Цвет для дополнительного шрифта, иконок
$colorGray: #7d7e7c;

//обводка инпута
$colorGrayLite: #d1d3ce;

//цвет ошибки
$colorRed: #c63535;

// цвет тени инпута
$colorGreySwadow: #2c2e2c 40%;

$backGroundTable: #f3f5f0;
$backGroubdTableName: #dddddd;

//*mixin
//стили для заголовков форм, подтверждение email
@mixin title {
  color: $color-black;
  font-size: 32px;
  font-weight: 500;
  line-height: 44.8px; /* 140% */
}

//основной текст, текст ссылки, футера (без цвета)
@mixin text-size-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

// стили текста для активного и не активного инпута (без цвета)
@mixin text-size-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

//основные стили всех кнопок
@mixin button {
  @include text-size-16;
  border-radius: 12px;
  padding: 12px 20px;
}

// для меню о курсе
@mixin coursItem {
  padding: 20px 20px 24px 20px;
  border-radius: 8px;
}

//sidebar
@mixin cidebarItem {
  display: flex;
  padding: 20px;
  align-items: center;
}

// Функция перевода px в rem

$browser-context: 16; // Значение rem по умолчанию

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}
