@use '../../../../styles/variables' as *;

.button {
  @include rubik16;
  max-width: 260px;
  width: 100%;
  min-height: 52px;
  padding: 12px 20px 10px;
  border-radius: 12px;
  background: $colorButtonDefault;
  border: none;
  color: $colorWhite;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background: $colorButtonHover;
}

.button:active {
  background: $colorButtonPress;
}

.button:disabled {
  background: $colorGrayLite;
  color: $colorGray;
}

.icon {
  margin-right: 3px;
}

.icon:disabled {
  fill: $colorGray;
}
