.button {
  max-width: 260px;
  width: 100%;
  min-height: 52px;
  padding: 12px 20px;
  border-radius: 12px;
  background: var(--Main, #53772F);
  border: none;

  color: var(--BG-white, #FFF);
  text-align: center;
  padding-bottom: 10px;

  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background: var(--button-hovered, #668447);
}

.button:active {
  background: var(--button-pressed, #374629);
}

.button:disabled {
  background: var(--stroke-button, #D1D3CE);
  color: var(--text-additional, #7D7E7C);
}

.icon {
  margin-right: 3px;
}

.icon:disabled {
  fill: var(--text-additional, #7D7E7C);
}
