@use '../../styles/variables' as *;

.newUser {
  display: flex;
  gap: 120px;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  height: calc(100vh - 72px);
  border: 1px solid #d1d3ce;
  align-items: center;
}

.newUserTitle {
  @include exo32;
  color: $colorBlack;
  margin: 40px 60px 28px 60px;
}

.newUserContant {
  display: flex;
  flex-direction: column;
  width: 900px;
  border-radius: 0 0 24px 24px;
  background: $colorWhite;
}

.newUserContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 244px);
  list-style: none;
  gap: 8px;
  margin: 0 60px;
}

.newUserInput {
  display: flex;
  flex-direction: column;
}

.newUserLabel {
  @include rubik16bold;
  margin-bottom: 8px;
  color: $colorBlack;
}

.newUserText {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 16px 60px 28px 60px;
  gap: 16px;
}

.newUserButton {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 60px 60px 60px;
}

.newUserButtonTitle {
  @include rubik14;
  color: $colorBlack;
}
