.newUser {
    display: flex;
    gap: 120px;
}

.newUserTitle {
    color: var(--Text-Main, #2F302E);
    font-family: 'Exo 2';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 41.6px;
    margin: 40px 60px 28px 60px;
}

.newUserContant {
    display: flex;
    flex-direction: column;
    width: 900px;
    border-radius: 0px 0px 24px 24px;
    background: #FFF;
}

.newUserContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 244px);
    list-style: none;
    gap: 8px;
    justify-content: center;

}

.newUserInput {
    display: flex;
    flex-direction: column;
}

.newUserLabel {
    margin-bottom: 8px;
    color: var(--text-main, #2f302e);
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.newUserText {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 16px 60px 28px 60px;
    gap: 16px;
    align-items: center;
}

.newUserButton {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 60px 60px 60px;
}

.newUserButtonTitle {
    color: var(--Text-Main, #2F302E);
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
}