@use '../../../styles/variables' as *;

.toggle input[type='checkbox'] {
  display: none;
}

.toggle input[type='checkbox'] + label {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 52px;
  height: 32px;
  background: $colorWhite;
  border: 2px solid #2f302e;
  border-radius: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.toggle input[type='checkbox'] + label:before {
  box-sizing: border-box;
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid $colorBlack;
  border-radius: 24px;
  background: $colorWhite;
  position: absolute;
  left: 2px;
  top: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggle input[type='checkbox']:checked + label {
  background: $colorButtonDefault;
}

.toggle input[type='checkbox']:checked + label:before {
  left: 22px;
}

.toggle
  input[type='checkbox']:not(:disabled):not(:checked):hover
  + label:before {
  background: $colorButtonDefault;
}

.toggle input[type='checkbox']:disabled + label:before {
  border-color: $colorGrayLite;
}

.toggle input[type='checkbox']:disabled + label {
  border-color: $colorGrayLite;
}

.toggle {
  margin: auto;
  width: 52px;
  height: 32px;
}
