.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    column-gap: 8px;
}

.list__item {
    padding-right: 8px;
    border-right: solid 2px;
}

.list__item:last-child {
    padding: 0;
    border: none;
}

.copypast {
    margin: 0;
}
