.button {
  width: 40px;
  height: 40px;
  padding: 12px 20px;
  border-radius: 12px;
  background: var(--Main, #53772f);
  border: 1px solid var(--Main, #53772f);

  color: var(--BG-white, #fff);
  text-align: center;
  padding-bottom: 10px;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background: var(--button-hovered, #668447);
  border: 1px solid var(--button-hovered, #668447);
}

.button:active {
  background: var(--button-pressed, #374629);
  border: 1px solid var(--button-pressed, #374629);
}

.button:disabled {
  background: var(--stroke-button, #d1d3ce);
  color: var(--text-additional, #7d7e7c);
  border: 1px solid var(--stroke-button, #d1d3ce);
}

.icon {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.icon:disabled {
  fill: var(--text-additional, #7d7e7c);
}
