.form_container {
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 8px;
    border: 1px solid #E5E8E5;
    max-width: 460px;
    margin: 0 auto;
    padding: 40px;
}

.form_title {
    color: #2C2E2C;
    margin: 0 0 20px 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
}

.form {
}

.input_inscription {
    color: #2C2E2C;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

.input {
    box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid #E5E8E5;
    border-radius: 12px;
    color: #2C2E2C;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    margin: 8px 0 12px;
    padding: 12px;
    width: 100%;
}

.input:last-of-type {
    margin-bottom: 0;
}

.checkbox_container {
    display: flex;
    margin: 20px 0;
    padding: 10px 0 10px 0;
}

.checkbox {
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.buttons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back {
    color: #6195B2;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    cursor: pointer;
}

.submit {
    background-color: #61B26A;
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    cursor: pointer;
    max-width: 260px;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}
