.formContainer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  height: 650px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  border: 1px solid #e5e8e5;
  background: var(--BG-white, #FFF);
  padding: 40px;
}

.formTitle {
  color: var(--text-main, #2F302E);
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-main, #2F302E);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.form {}

.inputInscription {
  color: #2c2e2c;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.input {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e5e8e5;
  border-radius: 12px;
  color: #2c2e2c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  margin: 8px 0 12px;
  padding: 12px;
  width: 100%;
  margin-bottom: 12px
}

.input:last-of-type {
  margin-bottom: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 435px;
  height: 52px;
}

.checkboxContainer {
  display: flex;
  margin: 20px 0;
  padding: 10px 0 10px 0;
  min-height: 52px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.checkbox {
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.inputLabel {
  cursor: pointer;
  color: var(--text-main, #2F302E);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.forgetButton {
  color: var(--Main, #53772F);
  text-align: center;
  cursor: pointer;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: #fff;
  border: none;
}

.buttonsContainer {
  display: flex;
  width: 435px;
  height: 152px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.back {
  color: #6195b2;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  cursor: pointer;
}

// .submit {
//   color: var(--BG-white, #FFF);
//   text-align: center;
//   font-family: Rubik;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 150%;
//   display: flex;
//   height: 52px;
//   padding: 12px 20px;
//   justify-content: center;
//   align-items: center;
//   gap: 8px;
//   align-self: stretch;
//   border-radius: 12px;
//   background: var(--Main, #53772F);
//   border: none;
//   cursor: pointer;
// }

// .submit:disabled {
//   background: var(--stroke-button, #D1D3CE);
//   color: var(--text-additional, #7D7E7C);
// }

.spanContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 225px;
  height: 24px;
}

.span {
  width: 86px;
  height: 0px;
  stroke-width: 2px;
  stroke: var(--text-additional, #7D7E7C);
  border: 1px solid var(--text-additional, #7D7E7C);
  border-radius: 2px;
}

.spanText {
  color: var(--text-additional, #7D7E7C);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.auth {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--Main, #53772F);
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}
