@use '../../utils/variables' as *;

.formContainerOpened {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  border: 1px solid #e5e8e5;
  background: var(--BG-white, #fff);
  padding: 40px;
}

.formTitle {
  color: var(--text-main, #2f302e);
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-main, #2f302e);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.inputInscription {
  color: #2c2e2c;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.input {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e5e8e5;
  border-radius: 12px;
  color: #2c2e2c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  margin: 8px 0 12px;
  padding: 12px;
  width: 100%;
  margin-bottom: 12px;
}

.input:last-of-type {
  margin-bottom: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 435px;
  height: 52px;
}

.checkboxContainer {
  display: flex;
  margin: 20px 0;
  padding: 10px 0 10px 0;
  min-height: 52px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.checkbox {
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.inputLabel {
  cursor: pointer;
  color: var(--text-main, #2f302e);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.forgetButton {
  color: var(--Main, #53772f);
  text-align: center;
  cursor: pointer;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: #fff;
  border: none;
}

.buttonsContainer {
  display: flex;
  width: 435px;
  height: 152px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.back {
  color: #6195b2;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  cursor: pointer;
}

.submit {
  color: var(--BG-white, #fff);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  height: 52px;
  width: 435px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Main, #53772f);
  border: none;
  cursor: pointer;
}

.submit:disabled {
  background: var(--stroke-button, #d1d3ce);
  color: var(--text-additional, #7d7e7c);
}

.orContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 225px;
  height: 24px;
}

.span {
  width: 86px;
  height: 0px;
  stroke-width: 2px;
  stroke: var(--text-additional, #7d7e7c);
  border: 1px solid var(--text-additional, #7d7e7c);
  border-radius: 2px;
}

.spanText {
  color: var(--text-additional, #7d7e7c);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.auth {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--Main, #53772f);
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}

.section {
  display: flex;
  width: 640px;
  height: 398px;
  padding: 40px 40px 60px 40px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  background: var(--BG-white, #fff);
  margin: 40px 60px 318px 60px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: var(--text-main, #2f302e);
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 450;
  line-height: 130%;
}

.text {
  color: var(--text-main, #2f302e);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.inputSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
  margin-top: 20px;
}

.containerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 435px;
  height: 52px;
  margin-top: 12px;
}

.buttonBack {
  color: var(--Main, #53772f);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  height: 52px;
  width: 79px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.buttonAgain {
  color: var(--Main, #53772f);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.submitEmail {
  color: var(--BG-white, #fff);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  height: 52px;
  width: 435px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Main, #53772f);
  border: none;
  cursor: pointer;
}

.submitEmail:disabled {
  background: var(--stroke-button, #d1d3ce);
  color: var(--text-additional, #7d7e7c);
}

.spanError {
  color: $colorRed;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.4px;
  min-height: 14px;
  margin-top: 4px;
  display: flex;
  width: 399px;
  margin-bottom: 12px;
  margin-left: 8px;
}
.spanErrorVerify {
  color: $colorRed;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.4px;
  min-height: 14px;
  margin-top: 4px;
  display: flex;
  margin-bottom: 20px;
  margin-left: 100px;
  align-self: flex-start;
}

.inputError {
  outline: 2px solid var(--service-warning, #C63535);
}
