@use '../../../styles/variables' as variables;

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
}

.section {
  background-color: variables.$backGroundColor;
  @include flex;
}

.container {
  @include flex;
  flex-direction: column;
}

.image {
  margin: 0 0 variables.rem(20);
}

.text {
  margin: 0 0 variables.rem(20);
  @include variables.text-size-16;
}
