@use '../../styles/variables' as *;

.section {
  display: flex;
  flex-direction: row;
}

.content {
  padding: 20px 20px;
  width: 1100px;
}

.listCards {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.coursesCard {
  position: relative;
  width: 356px;
  height: 134px;
  padding: 20px 20px 24px;
  background-color: $colorWhite;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 16px;
}

.cardText {
  width: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.cardTitle {
  word-wrap: break-word;
  width: 284px;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  color: $colorBlack;
}
.coursesCount {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $colorGray;
}

.iconMenu {
  border: none;
  background: none;
}

.popupContent {
  margin: 0 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.popupText {
  @include rubik16;
  width: 540px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
